<!--<mor-user-form (userAddEvent)= "addUser($event)" ></mor-user-form>
<div>
  <h3>Users list:</h3>
   <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      
        <tr  *ngFor = "let user of users" 
          [class.active]="currentUser == user"
          (click)="select(user)" >
           <td> {{user.name}} </td>
           <td> {{user.email}} </td>          
     </tr>
  </table>
</div>-->
<mor-user-form (userAddEvent)= "addUser($event)"></mor-user-form>
<jce-spinner [visible]="isLoading"></jce-spinner>
<div>
  <ul class="list-group users">
    <li *ngFor= "let user of users" 
    [class.active]= "currentUser == user" 
    (click) = "select(user)"
    class="list-group-item">
     <jce-user [user]= "user"
     (deleteEvent) = "deleteUser($event)"
      (editeEvent) = "updateUser($event)"></jce-user>
      <ul>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>                             
    </li>
  </ul>
</div>
