<h1>
  {{title}}
</h1>
<nav>
  <a routerLink= "/users">Users</a> |
  <a routerLink= "/posts">Posts</a>
</nav>
<router-outlet></router-outlet>
<!--<post-posts></post-posts>
<jce-users></jce-users>
<demo-demo></demo-demo>-->
