<!--Author: {{post.author}}, Content: {{post.content}}, Title: {{post.title}}-->

<!--instad showing the data with comma i make a table-->
<!--<div>
  <h3>Posts list:</h3>
   <table border="1">
        <tr>
          <th>UserId</th>
          <th>ID</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      
        <tr > 
           <td> {{post.userId}} </td>
           <td> {{post.id}} </td>
           <td> {{post.title}} </td>
           <td> {{post.body}} </td>          
     </tr>
  </table>
</div>-->
<span *ngIf = "!isEdit"> UserId:{{post.userId}}, ID:{{post.id}},
   Title: {{post.title}}, Body: {{post.body}}</span>
<span *ngIf ="isEdit">
  Title: <input type="text" [(ngModel)]= "post.title">
  Body: <input type="text" [(ngModel)]= "post.body">
  <button (click)= "sendCancel()"> Cancel</button>
</span>
<button (click)= "toggleEdit()" > {{editButtonText}} </button>
<button (click)="sendDelete()"> Delete</button>

