<mor-post-form (postAddEvent)= "addPost($event)"></mor-post-form>
<jce-spinner [visible]="isLoading"></jce-spinner>
<div>
  <ul class="list-group posts">
        <li *ngFor = "let post of posts" 
          [class.active]="currentPost == post"
          (click)="select(post)" 
          class="list-group-item">
            <post-post [post] = "post"
            (deleteEvent) = "deletePost($event)"  
            (editEvent) = "updatePost($event)"></post-post>      
        <ul>
  <li *ngFor = "let name of post.userNames">
            {{(name | async)?.name}}
          </li>
  </ul>
  </li>
  </ul>
</div>
